</main>

<br>
<br>



<!-- Footer -->
<!-- background-color: rgb(255, 124, 124); -->
<footer class="text-center text-white" style="font-size: 0.8rem;background-color: #1b2430;">
    <!-- Grid container -->
    <div class="container-fluid p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/thewebsitebrewery" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/dhrushti-sr/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/dhrushti/" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Each new day is an opportunity to improve yourself. Take it. And make the most of it. <br> Thank you for reaching us. 
        </p>
      </section>
      <!-- Section: Text -->





      <!-- login button for admin -->
      <button class="admin-button" onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="btn btn-secondary">Admin Login</button>

      <br>
      <br>

      <div id="id01" class="modal rounded">
        
        <form class="modal-content animate" action="/adminOption" method="post">
          <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <i class="fa-sharp fa-solid fa-dumbbell fa-2xl"></i>
            <a class="navbar-brand" href="/">
              <strong class="h6 mb-0 font-weight-bold text-uppercase text-danger">Sculptica</strong>
            </a>
          </div>
      
          <div class="container-admin">
            <!-- <label for="uname"><b>Username</b></label> -->
            <input class="form-control" type="text" placeholder="Username" name="uname" required autocomplete="off">
      
            <!-- <label for="psw"><b>Password</b></label> -->
            <input class="form-control"  type="password" placeholder="Password" name="psw" required>
              
            <button type="submit" class="add-product">Login</button>
            
          </div>
      
          <div class="container-admin" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger w-25">Cancel</button>
          </div>
        </form>
      </div>








  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">
                <i class="fa-solid fa-phone fa-l"></i>
                 Contact us
            </h5>
  
            <ul class="list-unstyled mb-0">
              <li>Dhrushti 
                <a href="tel:+9163622 82613" class="myHover">+91 63622 82613</a>
              </li>
              <li>Harsh 
                <a href="tel:+97548 15938" class="myHover">+91 97548 15938</a>
              </li>
              <li> Hrithik
                <a href="tel:+87097 60098" class="myHover">+91 87097 60098</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">
                <i class="fa-solid fa-envelope fa-l"></i>
                Mail us
            </h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="mailto:dhrushtiraveendran26@gmail.com" class="myHover">dhrushtiraveendran26@gmail.com</a>
              </li>
              <li>
                <a href="mailto:harshpatidar@gmail.com" class="myHover">harshpatidar@gmail.com</a>
              </li>
              <li>
                <a href="mailto:hrithiktebriwal@gmail.com" class="myHover">hrithiktebriwal.com</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">
                <i class="fa-solid fa-location-dot"></i>
                Address
            </h5>
  
            <ul class="list-unstyled mb-0">
              <li class="text-white">
                The National Institute of Engineering
              </li>
              <li class="text-white">
                (South Campus)
              </li>
              <li class="text-white">
                Mananthavadi Road
              </li>
              <li class="text-white">
                Mysuru - 570008
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © <span id="xyz"></span>
      Copyright, FitnessFirst
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->





<script>

    // navbar 

    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }

   

    // login button for admin 
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    
  </script>
  <script>
     document.getElementById("xyz").innerHTML = new Date().getFullYear();
  </script>
  <script src="https://kit.fontawesome.com/f277da5ba5.js" crossorigin="anonymous"></script>
  <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>