<%- include("partials/header"); -%>

<div class="admin-container">

<div class="row">


    <div class="col-sm">
        <a href="/newentry" style="text-decoration: none; color: rgb(0,0,0);">
            <div class="row">
                <div class="">
                    <div class="box">
                        <div class="our-services bmi">
                            <div class="icon">
                                <img src="images/new-user.jpg" alt="settings" width="100">
                            </div>
                            <h4>Add New User</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="col-sm">
        <a href="/gymItems" style="text-decoration: none; color: rgb(0,0,0);">
            <div class="row">
                <div class="">
                    <div class="box">
                        <div class="our-services bmi">
                            <div class="icon">
                                <img src="images/gym-animated.jpg" alt="settings" width="100">
                            </div>
                            <h4>Add New Equipment</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm">
        <a href="/showfeedback" style="text-decoration: none; color: rgb(0,0,0);">
            <div class="row">
                <div class="">
                    <div class="box">
                        <div class="our-services bmi">
                            <div class="icon">
                                <img src="images/user-feedback.webp" alt="settings" width="100">
                            </div>
                            <h4>User Feedbacks</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm">
        <a href="/addTrainer" style="text-decoration: none; color: rgb(0,0,0);">
            <div class="row">
                <div class="">
                    <div class="box">
                        <div class="our-services bmi">
                            <div class="icon">
                                <img src="images/trainer.png" alt="settings" width="100">
                            </div>
                            <h4>Trainers</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>


</div>

</div>

<script src="https://kit.fontawesome.com/f277da5ba5.js" crossorigin="anonymous"></script>