<%- include("partials/header2"); -%>

<div class="container">
<% result.forEach(function(entry) { %>
<section class="trainer">
    <div class="container mt-5">
    
        <div class="row d-flex justify-content-center">
            
            <div class="col-md-7">
                
                <div class="trainer-card p-3 py-4">
             
                    <div class="text-center">
                        <img src="uploads/trainer<%=entry.tid%>.jpg" width="100" class="rounded-circle">  
                    </div>
                    
                    <div class="text-center mt-3">
                        <span class="bg-danger p-1 px-4 rounded text-white">Pro</span>
                        <h5 class="mt-2 mb-0"><%= entry.tname %></h5>
                        <span><%= entry.specification %> teacher</span>
                        
                        <div class="px-4 mt-1">
                            <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        
                        </div>
                        
                         <ul class="social-list">
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fa fa-dribbble"></i></li>
                            <li><i class="fa fa-instagram"></i></li>
                            <li><i class="fa fa-linkedin"></i></li>
                            <li><i class="fa fa-google"></i></li>
                        </ul>
                        
                        <div class="trainer-buttons">
                            
                            <button class="btn btn-outline-primary px-4">Message</button>
                            <button class="btn btn-primary px-4 ms-3">Contact</button>
                        </div> 
                    </div>   
                </div>
                
            </div>
            
        </div>
        
    </div>
</section>
<% }); %>
</div>

<script src="https://kit.fontawesome.com/f277da5ba5.js" crossorigin="anonymous"></script>